<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-wrap">
          <div class="web-brief-desc-title">
            <div class="web-brief-logo">
              <img
                class="logo-1"
                src="../static//images//brief-icon-1.svg"
                alt="brief-icon-1"
              />
              <img
                class="logo-2"
                src="../static//images//brief-icon-2.svg"
                alt="brief-icon-2"
              />
              <div class="logo-3-wrap">
                <img
                  class="logo-3"
                  src="../static//images//brief-icon-3.svg"
                  alt="brief-icon-3"
                />
              </div>
            </div>

            <span style="color: #8cb7f5"> E-grocery</span>
          </div>
          <div class="header-search">
            <form action="{{ url_for('views.search_results') }}" method="get">
              <div class="search">
                <input name="keyword" type="text" placeholder="Search" />
              </div>
              <div class="categories">
                <select name="category">
                  <option value="all">All categories</option>
                  <option value="Smart Watch">Smart Watch</option>
                  <option value="Camera">Camera</option>
                  <option value="Headphone">Headphone</option>
                  <option value="Gaming Set">Gaming Set</option>
                  <option value="Laptop">Laptop</option>
                  <option value="Tablet">Tablet</option>
                </select>
              </div>
              <div class="search-submit">
                <button type="submit">Search</button>
              </div>
            </form>
          </div>
          <div class="header-action">
            <div class="action-item">
              <img src="../static//images//profile.svg" alt="profile" />
              <span>Profile</span>
            </div>
            <div class="action-item">
              <img src="../static//images//message.svg" alt="message" />
              <span>Message</span>
            </div>
            <div class="action-item">
              <img src="../static//images//order.svg" alt="Orders" />
              <span>Orders</span>
            </div>
            <div class="action-item">
              <img src="../static//images//cart.svg" alt="Cart" />
              <span>My cart</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <hr class="border" />
    <div class="nav-bar">
      <div class="container">
        <div class="nav-bar-wrap">
          <div class="nav-left">
            <div class="nav-icon">
              <img src="../static//images//navbar.svg" alt="navbar" />
            </div>
            <div class="nav-category">
              <span>All category</span>
            </div>
            <div class="nav-hot">
              <span>Hot offers</span>
            </div>
            <div class="nav-select">
              <select>
                <option value="Help">Help</option>
              </select>
            </div>
          </div>
          <div class="nav-payment">
            <div class="nav-payment-current">Vietnam, VND</div>
            <div class="nav-payment-icon">
              <img src="../static//images//icon-down.svg" alt="down" />
            </div>
          </div>
          <div class="nav-location">
            <div class="nav-location-address">
              <span>Ship to</span>
              <img src="../static//images//vn-flag.svg" alt="vn-flag" />
            </div>
            <div class="nav-payment-icon">
              <img src="../static//images//icon-down.svg" alt="down" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="border" />
    <div class="breadcr">
      <div class="container">
        <div class="breadcrumb">
          <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">Home</li>
              <li class="breadcrumb-item active">Clothing</li>
              <li class="breadcrumb-item active">Men's wear</li>
              <li class="breadcrumb-item active">Summer clothing</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <div class="list-view">
      <div class="container">
        <div class="list-view-wrap">
          <div class="section-sidebar">
            <div class="sidebar-category">
              <div class="sidebar-category-title mb-1">
                <span>Category</span>
                <img src="../static//images/icon-up.svg" alt="icon-up" />
              </div>
              <span class="sidebar-category-item gray-600 mb-1"
                >Mobile accessory</span
              >
              <span class="sidebar-category-item gray-600 mb-1"
                >Electronics</span
              >
              <span class="sidebar-category-item gray-600 mb-1"
                >Smartphones</span
              >
              <span class="sidebar-category-item gray-600 mb-1"
                >Mordern tech</span
              >
              <a href="#" class="sidebar-category-seeAll seeAll">See all</a>
            </div>

            <form action="{{ url_for('views.apply_filters') }}" method="get" id="filters-form">
            <div class="sidebar-brands">
              <div class="sidebar-brands-title mb-1">
                <span>Brands</span>
                <img src="../static//images/icon-up.svg" alt="icon-up" />
              </div>
              <div class="sidebar-brands-item mb-1 flex-and-center">
                <input type="checkbox" name="brand" value="BrandX" id="brand-1" class="mr-1" />
                <label for="brand-1" class="gray-600">BrandX</label>
              </div>
              <div class="sidebar-brands-item mb-1 flex-and-center">
                <input type="checkbox" name="brand" value="BrandY" id="brand-2" class="mr-1" />
                <label for="brand-2" class="gray-600">BrandY</label>
              </div>
              <div class="sidebar-brands-item mb-1 flex-and-center">
                <input type="checkbox" name="brand"  value="BrandZ" id="brand-3" class="mr-1" />
                <label for="brand-3" class="gray-600">BrandZ</label>
              </div>
              <div class="sidebar-brands-item mb-1 flex-and-center">
                <input type="checkbox" name="brand" value="BrandA" id="brand-4" class="mr-1" />
                <label for="brand-4" class="gray-600">BrandA</label>
              </div>
              <div class="sidebar-brands-item mb-1 flex-and-center">
                <input type="checkbox" name="brand" value="BrandP" id="brand-5" class="mr-1" />
                <label for="brand-5" class="gray-600">BrandP</label>
              </div>
              <a href="#" class="sidebar-brands-seeAll seeAll">See all</a>
            </div>
            <!--

            
            <div class="sidebar-features">
              <div class="sidebar-features-title mb-1 flex-and-center">
                <span>Features</span>
                <img src="../static//images/icon-up.svg" alt="icon-up" />
              </div>
              <div class="sidebar-features-item mb-1 flex-and-center">
                <input
                  type="checkbox"
                  name="feature"
                  id="feature-1"
                  class="mr-1"
                />
                <label for="feature-1" class="gray-600"
                  >Wireless charging</label
                >
              </div>
              <div class="sidebar-features-item mb-1 flex-and-center">
                <input
                  type="checkbox"
                  name="feature"
                  id="feature-2"
                  class="mr-1"
                />
                <label for="feature-2" class="gray-600">Waterproof</label>
              </div>
              <div class="sidebar-features-item mb-1 flex-and-center">
                <input
                  type="checkbox"
                  name="feature"
                  id="feature-3"
                  class="mr-1"
                />
                <label for="feature-3" class="gray-600">Dual sim</label>
              </div>
              <div class="sidebar-features-item mb-1 flex-and-center">
                <input
                  type="checkbox"
                  name="feature"
                  id="feature-4"
                  class="mr-1"
                />
                <label for="feature-4" class="gray-600">Touch screen</label>
              </div>
              <div class="sidebar-features-item mb-1 flex-and-center">
                <input
                  type="checkbox"
                  name="feature"
                  id="feature-5"
                  class="mr-1"
                />
                <label for="feature-5" class="gray-600">Bluetooth</label>
              </div>
              <a href="#" class="sidebar-features-seeAll seeAll">See all</a>
            </div>
            -->
            <div class="sidebar-price">
              <div class="sidebar-price-title">
                <span>Price range</span>
                <img src="../static//images/icon-up.svg" alt="icon-up" />
              </div>
              <div class="sidebar-range-control">
                <input
                  type="range"
                  min="0"
                  max="99999"
                  value="50"
                  class="slider"
                  id="myRange"
                  style="width: 100%"
                />
              </div>
              <div class="sidebar-range-min-max">
                <div class="sidebar-range-min">
                  <label for="min">Min</label>
                  <input type="text" name="min_price" id="min" value="0" />
                </div>
                <div class="sidebar-range-max">
                  <label for="max">Max</label>
                  <input type="text" name="max_price" id="max" value="99999" />
                </div>
              </div>
            </div>
            <!--
            <div class="sidebar-condition">
              <div class="sidebar-condition-title mb-1 flex-and-center">
                <span>Condition</span>
                <img src="../static//images/icon-up.svg" alt="icon-up" />
              </div>
              <div class="sidebar-condition-item mb-1 flex-and-center">
                <input
                  type="checkbox"
                  name="condition"
                  id="condition-1"
                  class="mr-1"
                />
                <label for="condition-1" class="gray-600">New</label>
              </div>
              <div class="sidebar-condition-item mb-1 flex-and-center">
                <input
                  type="checkbox"
                  name="condition"
                  id="condition-2"
                  class="mr-1"
                />
                <label for="condition-2" class="gray-600">Used</label>
              </div>
              <div class="sidebar-condition-item mb-1 flex-and-center">
                <input
                  type="checkbox"
                  name="condition"
                  id="condition-3"
                  class="mr-1"
                />
                <label for="condition-3" class="gray-600">Collectible</label>
              </div>
              <div class="sidebar-condition-item mb-1 flex-and-center">
                <input
                  type="checkbox"
                  name="condition"
                  id="condition-4"
                  class="mr-1"
                />
                <label for="condition-4" class="gray-600">Renewed</label>
              </div>
              <a href="#" class="sidebar-condition-seeAll seeAll">See all</a>
            </div>
            -->

            <div class="sidebar-rating">
              <div class="sidebar-rating-title mb-1 flex-and-center">
                <span>Average rating</span>
                <img src="../static//images/icon-up.svg" alt="icon-up" />
              </div>
              <div class="sidebar-rating-item mb-1 flex-and-center">
                <input type="checkbox" name="rating" value="5" id="rating-5" class="mr-1" />
                <img src="../static//images//5start.svg" />
              </div>
              <div class="sidebar-rating-item mb-1 flex-and-center">
                <input type="checkbox" name="rating" value="4" id="rating-4" class="mr-1" />
                <img src="../static//images//4stars.svg" />
              </div>
              <div class="sidebar-rating-item mb-1 flex-and-center">
                <input type="checkbox" name="rating" value="3" id="rating-3" class="mr-1" />
                <img src="../static//images//3star.svg" />
              </div>
              <div class="sidebar-rating-item mb-1 flex-and-center">
                <input type="checkbox" name="rating" value="2" id="rating-2" class="mr-1" />
                <img src="../static//images//2star.svg" />
              </div>
            </div>
            
            <div class="sidebar-button-apply">
              <button
                class="mt-3"
                style="
                  width: 100%;
                  background: white;
                  border: 1px solid var(--gray-300);
                  color: blue;
                "
              >
                Apply
              </button>
            </div>
            </form>
          </div>
          


          <div class="content-top">
            <span>12,911 items in <strong>Mobile accessory</strong></span>
          </div>
          <!--
          <div class="content">
            <div class="content-item">
              <div class="content-item-picture">
                <img src="../static//images/phone.png" alt="phone" />
              </div>
              <div class="content-item-info">
                <div class="content-item-info-title">
                  <span>Apple iPhone 11 Pro Max, 256GB, Midnight Green</span>
                  <img src="../static//images/heart.svg" alt="heart" />
                </div>
                <div class="content-item-info-price">
                  <span class="price">$1,099.00</span>
                  <del class="price-old">$1,299.00</del>
                </div>
                <div class="content-item-info-rating">
                  <img src="../static//images//5start.svg" alt="5star" />
                  <span class="mr-1">4.5</span>
                  <img
                    src="../static//images//dot.svg"
                    alt="dot"
                    class="mr-1"
                  />
                  <span class="mr-1">11000 orders</span>
                  <img
                    class="mr-1"
                    src="../static//images//dot.svg"
                    alt="dot"
                  />
                  <span>Free shipping</span>
                </div>
                <div class="content-item-info-desc">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua
                  </p>
                </div>
                <div class="content-item-info-details">
                  <a href="#">View details</a>
                </div>
              </div>
            </div>
          </div>-->
          <div class="content">
              {% for product in products %}
              <div class="content-item">
                  <div class="content-item-picture">
                      <img src="{{ url_for('static', filename=product.image_url) }}" alt="{{ product.name }}" />
                  </div>
                  <div class="content-item-info">
                      <div class="content-item-info-title">
                          <span>{{ product.name }}</span>
                          <img src="../static//images/heart.svg" alt="heart" />
                      </div>
                      <div class="content-item-info-price">
                          <span class="price">${{ product.price }}</span>
                          <!-- Include old price if you have such data -->
                      </div>
                      <div class="content-item-info-rating">
                          <!-- Rating and other details here -->
                          <img src="../static//images//5start.svg" alt="Rating" />
                          <span>{{ product.review_rating }}</span>
                          <img
                            src="../static//images//dot.svg"
                            alt="dot"
                            class="mr-1"
                          />
                          <span class="mr-1">11000 orders</span>
                          <img
                            class="mr-1"
                            src="../static//images//dot.svg"
                            alt="dot"
                          />
                          <span>Free shipping</span>
                      </div>
                      <div class="content-item-info-desc">
                          <p>{{ product.description }}</p>
                      </div>
                      <div class="content-item-info-details">
                        <a href="{{ url_for('views.view_product_detail', product_id=product.code) }}">View details</a>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>

          <div class="content-pagination">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="web-brief">
          <div class="container">
            <div class="web-brief-wrap">
              <div class="web-brief-desc">
                <div class="web-brief-desc-title">
                  <div class="web-brief-logo">
                    <img
                      class="logo-1"
                      src="../static//images//brief-icon-1.svg"
                      alt="brief-icon-1"
                    />
                    <img
                      class="logo-2"
                      src="../static//images//brief-icon-2.svg"
                      alt="brief-icon-2"
                    />
                    <div class="logo-3-wrap">
                      <img
                        class="logo-3"
                        src="../static//images//brief-icon-3.svg"
                        alt="brief-icon-3"
                      />
                    </div>
                  </div>

                  <span style="color: #8cb7f5"> E-grocery</span>
                </div>
                <div class="web-brief-desc-desc">
                  <span
                    >Ecommerce website sells everything <br />you need (except
                    girlfriend).</span
                  >
                </div>
                <div class="social-media">
                  <span>
                    <img src="../static//images//facebook.svg" alt="facebook" />
                  </span>
                  <span>
                    <img src="../static//images//twitter.svg" alt="twitter" />
                  </span>
                  <span>
                    <img src="../static//images/linkedin.svg" alt="linkedin" />
                  </span>
                  <span>
                    <img
                      src="../static//images//instagram.svg"
                      alt="instagram"
                    />
                  </span>
                  <span>
                    <img src="../static//images//youtube.svg" alt="youtube" />
                  </span>
                </div>
              </div>
              <div class="web-brief-item">
                <strong class="web-brief-item-title">About</strong>
                <span class="web-brief-item-content">About us</span>
                <span class="web-brief-item-content">Find store</span>
                <span class="web-brief-item-content">Categories</span>
                <span class="web-brief-item-content">Blogs</span>
              </div>
              <div class="web-brief-item">
                <strong class="web-brief-item-title">Partnership</strong>
                <span class="web-brief-item-content">About us</span>
                <span class="web-brief-item-content">Find store</span>
                <span class="web-brief-item-content">Categories</span>
                <span class="web-brief-item-content">Blogs</span>
              </div>
              <div class="web-brief-item">
                <strong class="web-brief-item-title">Information</strong>
                <span class="web-brief-item-content">Help center</span>
                <span class="web-brief-item-content">Money refund</span>
                <span class="web-brief-item-content">Contact us</span>
              </div>
              <div class="web-brief-item">
                <strong class="web-brief-item-title">For users</strong>
                <span class="web-brief-item-content">Login</span>
                <span class="web-brief-item-content">Register</span>
                <span class="web-brief-item-content">My orders</span>
              </div>
              <div class="web-brief-get-app">
                <strong class="web-brief-item-title">Get apps</strong>
                <img
                  class="app"
                  src="../static//images/app-store.svg"
                  alt="app-store"
                />
                <img
                  class="app"
                  src="../static//images/google-play.svg"
                  alt="google-play"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer-wrap">
          <div class="footer-left">
            <span>©️ 2023 E-grocery</span>
          </div>
          <div class="footer-right">
            <img src="../static/images/us-flag.svg" alt="us-flag" />
            <span>English</span>
            <img src="../static//images//icon-up.svg" alt="icon-up" />
          </div>
        </div>
      </div>
    </footer>
    <!--bootstrap js-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    
  </body>
</html>
