<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - E-Grocery</title>
    <link rel="stylesheet" href="../static/css/login-style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<body>
    <header class="header">
        
    </header>

    <div class="login-form-container">
        <div class="login-header">
            <h2>Login</h2>
        </div>
        <form class="login-form" action ="/login" method="post" >
            <div class="form-group">
                <input type="text" id="phone_number" name="phone_number" placeholder="Phone number" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="forgot-password">
                <a>Forgot password?</a>
            </div>
            <div class="form-group">
                <button type="submit" class="login-button">Login</button>
            </div>
        </form>
        <div class="signup-section">
            <!--<div class="bottom-line"></div>-->
            <p class="lined-text">New to E-Grocery?</p>
            <!--<div class="bottom-line"></div>-->
            <button class="signup-button">Create new account</button>
        </div>
    </div>

    <div class="web-brief">
        <div class="container">
          <div class="web-brief-wrap">
            <div class="web-brief-desc">
              <div class="web-brief-desc-title">
                <div class="web-brief-logo">
                  <img
                    class="logo-1"
                    src="../static//images//brief-icon-1.svg"
                    alt="brief-icon-1"
                  />
                  <img
                    class="logo-2"
                    src="../static//images//brief-icon-2.svg"
                    alt="brief-icon-2"
                  />
                  <div class="logo-3-wrap">
                    <img
                      class="logo-3"
                      src="../static//images//brief-icon-3.svg"
                      alt="brief-icon-3"
                    />
                  </div>
                </div>
  
                <span style="color: #8cb7f5"> E-grocery</span>
              </div>
              <div class="web-brief-desc-desc">
                <span
                  >Ecommerce website sells everything <br />you need (except
                  girlfriend).</span
                >
              </div>
              <div class="social-media">
                <span>
                  <img src="../static//images//facebook.svg" alt="facebook" />
                </span>
                <span>
                  <img src="../static//images//twitter.svg" alt="twitter" />
                </span>
                <span>
                  <img src="../static//images/linkedin.svg" alt="linkedin" />
                </span>
                <span>
                  <img src="../static//images//instagram.svg" alt="instagram" />
                </span>
                <span>
                  <img src="../static//images//youtube.svg" alt="youtube" />
                </span>
              </div>
            </div>
            <div class="web-brief-item">
              <strong class="web-brief-item-title">About</strong>
              <span class="web-brief-item-content">About us</span>
              <span class="web-brief-item-content">Find store</span>
              <span class="web-brief-item-content">Categories</span>
              <span class="web-brief-item-content">Blogs</span>
            </div>
            <div class="web-brief-item">
              <strong class="web-brief-item-title">Partnership</strong>
              <span class="web-brief-item-content">About us</span>
              <span class="web-brief-item-content">Find store</span>
              <span class="web-brief-item-content">Categories</span>
              <span class="web-brief-item-content">Blogs</span>
            </div>
            <div class="web-brief-item">
              <strong class="web-brief-item-title">Information</strong>
              <span class="web-brief-item-content">Help center</span>
              <span class="web-brief-item-content">Money refund</span>
              <span class="web-brief-item-content">Contact us</span>
            </div>
            <div class="web-brief-item">
              <strong class="web-brief-item-title">For users</strong>
              <span class="web-brief-item-content">Login</span>
              <span class="web-brief-item-content">Register</span>
              <span class="web-brief-item-content">My orders</span>
            </div>
            <div class="web-brief-get-app">
              <strong class="web-brief-item-title">Get apps</strong>
              <img
                class="app"
                src="../static//images/app-store.svg"
                alt="app-store"
              />
              <img
                class="app"
                src="../static//images/google-play.svg"
                alt="google-play"
              />
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer-wrap">
            <div class="footer-left">
              <span>©️ 2023 E-grocery</span>
            </div>
            <div class="footer-right">
              <img src="../static/images/us-flag.svg" alt="us-flag" />
              <span>English</span>
              <img src="../static//images//icon-up.svg" alt="icon-up" />
            </div>
          </div>
        </div>
      </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
</body>
</html>
