<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - E-Grocery</title>

</head>
<body>
    <header class="header">
        
    </header>

    <div class="login-wrapper">
        <div class="login-container">
            <h3>Login</h3>
            <form method="post"> 
                <div class="form-group">
                    <label for="username">Phone number:</label>
                    <input type="text" id="phone_number" name="phone_number" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <footer class="footer">
        {% include 'footer.html' %}
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
