<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - E-Grocery</title>
    <link rel="stylesheet" href="../static/css/login-style.css" />
</head>
<body>
    <header class="header">
        
    </header>

    <div class="login-form-container">
        <div class="login-header">
            <h2>Login</h2>
        </div>
        <form class="login-form" action ="/login" method="post" >
            <div class="form-group">
                <input type="text" id="phone_number" name="phone_number" placeholder="Phone number" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="forgot-password">
                <a>Forgot password?</a>
            </div>
            <div class="form-group">
                <button type="submit" class="login-button">Login</button>
            </div>
        </form>
        <div class="signup-section">
            <div class="top-line"></div>
            <p class="lined-text">New to E-Grocery?</p>
            <div class="bottom-line"></div>
            <button class="signup-button">Create new account</button>
        </div>
    </div>

    <footer class="footer">
        {% include 'footer.html' %}
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
